<!DOCTYPE html>
<html>
    <head>
        <title>h2</title>
    </head>
    <body>
        <h1> Professores do ICOMP</h1>

        <ul>
            {{#each profs}}

                <li>{{nome}} - {{sala}}</li>

            {{/each}}
        </ul>
    </body>
</html>